# Python
_pycache_/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db

# Project-specific ignored files/folders
# (Add your specific files here)
# uploads/
# data/
# notebooks/
# models/